body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8vw;
  font-weight: 900;
  background-color: #48bb78;
  color: black;
  display: block;
  padding: 0.5em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: black;
  color: white;
  clip-path: inset(-1% -1% 50% -1%);
}
